@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
html {
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(270deg, #048466, #0089abb6, rgb(0, 14, 119));
  background-size: 700% 300%;
  animation: gradientBG 20s ease infinite;
  margin: 0;
  padding: 20px;
  width: 100%;
  height: 100%;
  position: relative;
}

/* Tạo animation đổi màu */
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h2{
  font-weight: 3;
}
.card {
  position: absolute;  /* Cần có để top & left hoạt động */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s all;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 800px;
}
.card:hover{
  box-shadow: 0 9px 50px rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%) scale(1.05) rotate(2deg);
}
.card:active{
  box-shadow: 0 9px 50px rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%) scale(1.05) rotate(2deg);
}
hl{
  color: #0089ab;
}
hl:active{
  color: #048466;
  text-decoration: underline;
}
hl:hover{
  color: #048466;
  text-decoration: underline;
}
.im{
  width: 45%;
  height: 30%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;;
  border-radius: 70%;
  background-size: cover;
  z-index: -1;
}
.tx{
  font-size: 1.2em;
  font-weight: 600pt;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  margin-top: 20px;
  transition: 0.3 all;
}
.tx:hover{
  font-size: 1.2em;
  font-weight: 600pt;
  color: #ffffff;
  animation: text 2s infinite;
  text-align: center;
  margin-top: 20px;
}
.tx:active{
  font-size: 1.2em;
  font-weight: 600pt;
  color: #ffffff;
  animation: text 2s infinite;
  text-align: center;
  margin-top: 20px;
}
@keyframes text {
  0% {
    color: #000000;
    
  }
  25% {
    color: #ffffff;
    background-color: #0089ab;
  }
  50% {
    color: #ffffff;
    background-color: #0089ab;
  }
  75% {
    color: #ffffff;
    background-color: #0089ab;
    border-radius: 1px;
  }
  100% {
    color: black;
  }
}
